@font-face {
  font-family: 'Lazurski';
  src:
       url('../fonts/Lazurski.ttf') format('ttf');
}

body {
  font-family: 'Lazurski', serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCFCFC;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

}

li {
  font-size: 20px;
}

.intro {
  height: 60px;
  background-position: center;
  display: flex;
  position: relative;
}

.logo {
  display: block;
  width: 400px;
  height: 44px;
  background-image: url(../images/logo.png);
  background-size: cover;
  margin-left: -30px;
}

.logo:hover {
  cursor: url(../images/f.png), pointer;
}

.header-navright {
  font-size: 26px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.panel {
  left: 989px;
  top: 76px;
  width: 375px;
  height: 165px;
  background-color: white;
  z-index: 10000;
  border: 1px solid #000;
  position: fixed;
}

.name {
  vertical-align: middle;
  border-bottom: 1px solid #000;
  line-height: 22px;
  padding: 1px 20px;
  font-size: 15px;
}

.quit {
  height: 26px;
  width: 26px;
  border: 1px solid;
  position: absolute;
  left: 375px;
  top: -1px;
  background-color: white;
}

.quit img {
  margin: 6px;
  width: 12px;
  height: 12px;
  opacity: 1;
}

#elements li img {
  display: inline-block;
  filter: grayscale();
  margin-left: 8px;
}

#elements li button:hover {
  text-decoration: underline;
}

#infos {
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

#elements li button {
  font-size: 15px;
  font-family: 'Lazurski', serif;
  padding-bottom: 5px;
  display: inline;
  background-color: white;
  cursor: pointer;
  border: none;
}

#infos ul li span {
  font-size: 16px;
  width: 90px;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  margin-bottom: 5px;
}

#infos ul li p {
  font-size: 17px;
  padding-top: 5px;
  width: 200px;
  display: inline;
  align-items: baseline;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  min-height: calc(100vh - 90px);
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.element-item {
  align-self: center;
  flex-basis: calc(20% - 30px);
  margin: 40px 40px 40px 40px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 180px;
  text-align: center;
  font-family: 'Lazurski', serif;
}

.element-item img  {
  align-self: center;
  position: relative;
  display: block;
  width: 200px;
  height: auto;
  filter: grayscale();
  cursor: pointer;
  box-shadow: 0 0 2px white;
}

img:hover {
  filter: none;
  -webkit-transition: all 1s ease;
  transition: all .8s ease;
}

.draggable {
  cursor: move;
}

.click {
  background-color: black;
  display: inherit;
}

.none {
  display: none;
}

.display {
  display: inherit;
}

.text {
  width: 900px;
  font-size: 30px;
  font-family: "Arial";
  text-transform: uppercase;
  margin: auto;
  padding: 10px;
  cursor: url('../images/cursor.png'), pointer;
}

.button {
  font-family: 'Lazurski', serif;
  display: inline-block;
  padding: 10px 15px;
  border: none;
  color: #222;
  font-size: 18px;
  cursor: pointer;
}

.button-1 {
  background-color: #EDEDED;
  padding: 9px 18px;
}

.button-2 {
  background-color: #FF7954;
}

.button-3 {
  background-color: #61A580;
}

.button-4 {
  background-color: #FF7CD7;
}

.button-5 {
  background-color: #F9C80E
}

.button-6 {
  background-color: #4C61A2
}

.button:hover {
  background-color: white;
  color: black;
}

.button:active,
.button.is-checked {
 background-color: black;
}

.button.is-checked {
  color: white;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.element-item {
  position: relative;
  float: left;
  width: 250px;
  height: 250px;
  margin: 30px;
  padding: 10px;
}
