@font-face {
  font-family: 'Lazurski';
  src:
       url('../fonts/Lazurski.ttf') format('ttf');
}

body {
  font-family: 'Lazurski', serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCFCFC;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

}

p {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

li {
  font-size: 20px;
}


.intro {
  height: 5vh;
  background-position: center;
  display: flex;
  position: relative;
}

nav.header-nav {
  /* font-family: 'GT Walsheim Pro Trial', 'Helvetica', 'Arial', sans-serif; */
  /* font-family: "Arial"; */
  margin-top: 10px;
  margin-left: -5px;
  font-size: 40px;
  /* z-index: 10002; */
}

.header-navright {
  font-size: 26px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%)
}

.logo {
  margin-top: 20px;
}


span.title_menu:hover {
  color: #FF00FF;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
}

.title_menu {
  cursor: pointer;
}

ul.elements_title_menu {
  display: none;
  list-style: none;
}

.open > ul.elements_title_menu {
  display: block;
}

.title {
  font-size: 55px;
  line-height: 80px;
  color: black;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 25px;
  }

.title:hover {
  cursor: url(../images/f.png), default;
}

header.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 100;
  padding: 1px 12px 0 15px;
}

.panel {
  top: 140px;
  left: 540px;
  width: 375px;
  height: 165px;
  background-color: white;
  z-index: 10000;
  border: 1px solid #000;
  position: fixed;
}

.name {
  vertical-align: middle;
  border-bottom: 1px solid #000;
  line-height: 22px;
  padding: 1px 20px;
  font-size: 15px;
}

.quit {
  height: 26px;
  width: 26px;
  border: 1px solid;
  position: absolute;
  left: 375px;
  top: -1px;
  background-color: white;
}

.quit img {
  margin: 6px;
  width: 12px;
  height: 12px;
  opacity: 1;
}

#elements li img {
  display: inline-block;
  filter: grayscale();
  margin-left: 8px;
}

#elements li button:hover {
  text-decoration: underline;
}

#infos {
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

#elements li button {
  font-size: 15px;
  font-family: 'Lazurski', serif;
  padding-bottom: 5px;
  display: inline;
  background-color: white;
  cursor: pointer;
  border: none;
}

#infos ul li span {
  font-size: 16px;
  width: 90px;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  margin-bottom: 5px;
}

#infos ul li p {
  font-size: 17px;
  padding-top: 5px;
  width: 200px;
  display: inline;
  align-items: baseline;
}

.things-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  min-height: calc(100vh - 90px);
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item {
  align-self: center;
  flex-basis: calc(20% - 30px);
  margin: 40px 40px 40px 40px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 180px;
  text-align: center;
  font-family: 'Lazurski', serif;
}

a.small {
  height: 20%;
  font-size: 12px;
  line-height: 1.4;
  padding-top: 7px;
  color: #777;
  display: inline-block;

}

.item img  {
  align-self: center;
  position: relative;
  display: block;
  width: 250px;
  filter: grayscale();
  cursor: url(../images/hand.png) !important;
  box-shadow: 0 0 2px white;
}

img:hover {
  filter: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.draggable {
  cursor: pointer;
}

/* canvas {
  display: inline-block;
  }

#drawingTool {
width: 100%;
height: 100%;
{ */

 .click {
  background-color: black;
  display: inherit;
}

.none {
  display: none;
}

.display {
  display: inherit;
}
