@media (max-width: 767px) {

  .panel {
    left: 170px;
    top: 350px;
    width: 220px;
    height: 200px;
    /* background-color: transparent; */
    /* font-family: 'Arial'; */

  }


  body {
    background-color: white;
  }

}
